<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-udf-heading" jhiTranslate="alchemyApp.udf.home.createOrEditLabel">Create or edit a Udf</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!udf.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="alchemyApp.udf.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="alchemyApp.udf.type" for="field_type">Type</label>
                    <select class="form-control" name="type" formControlName="type" id="field_type">
                        <option value="DEPENDENCY">{{'alchemyApp.UdfType.DEPENDENCY' | translate}}</option>
                        <option value="CODE">{{'alchemyApp.UdfType.CODE' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('type').invalid && (editForm.get('type').dirty || editForm.get('type').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('type').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="alchemyApp.udf.value" for="field_value">Value</label>
                    <textarea *ngIf="editForm.get('type').value == 'DEPENDENCY'" class="form-control" name="value" id="field_value"
                              formControlName="value"></textarea>
                    <codemirror *ngIf="editForm.get('type').value == 'CODE'" formControlName="value" [config]="groovyConfig" id="field_config"></codemirror>
                    <div *ngIf="editForm.get('value').invalid && (editForm.get('value').dirty || editForm.get('value').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('value').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="alchemyApp.udf.dependency" for="field_dependency">Dependency</label>
                    <input type="text" class="form-control" name="dependency" id="field_dependency"
                           formControlName="dependency"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="alchemyApp.udf.remark" for="field_remark">Remark</label>
                    <input type="text" class="form-control" name="remark" id="field_remark"
                           formControlName="remark"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <div class="col-md-2"></div>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
                <div class="col-md-3"></div>
            </div>
        </form>
    </div>
</div>
