<div>
    <h2 id="page-heading">
        <span jhiTranslate="alchemyApp.udf.home.title">Udfs</span>
    </h2>
    <h2>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-udf" [routerLink]="['/udf', business.id ,'new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="alchemyApp.udf.home.createLabel">
            Create new Udf
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="udfs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="alchemyApp.udf.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="type"><span jhiTranslate="alchemyApp.udf.type">Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dependency"><span jhiTranslate="alchemyApp.udf.dependency">Dependency</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="remark"><span jhiTranslate="alchemyApp.udf.remark">Remark</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdBy"><span jhiTranslate="alchemyApp.udf.createdBy">Created By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdDate"><span jhiTranslate="alchemyApp.udf.createdDate">Created Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lastModifiedBy"><span jhiTranslate="alchemyApp.udf.lastModifiedBy">Last Modified By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lastModifiedDate"><span jhiTranslate="alchemyApp.udf.lastModifiedDate">Last Modified Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="businessId"><span jhiTranslate="alchemyApp.udf.business">Business</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let udf of udfs ;trackBy: trackId">
                <td><a [routerLink]="['/udf', udf.id, 'view' ]">{{udf.id}}</a></td>
                <td>{{udf.name}}</td>
                <td jhiTranslate="{{'alchemyApp.UdfType.' + udf.type}}">{{udf.type}}</td>
                <td>{{udf.dependency}}</td>
                <td>{{udf.remark}}</td>
                <td>{{udf.createdBy}}</td>
                <td>{{udf.createdDate | date:'medium'}}</td>
                <td>{{udf.lastModifiedBy}}</td>
                <td>{{udf.lastModifiedDate | date:'medium'}}</td>
                <td>
                    <div *ngIf="udf.businessId">
                        <a [routerLink]="['../business', udf.businessId , 'view' ]" >{{udf.businessId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/udf', udf.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/udf', udf.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'udf', { outlets: { popup: udf.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="udfs && udfs.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
