<div>
    <h2 id="page-heading">
        <span jhiTranslate="alchemyApp.sink.home.title">Sinks</span>
    </h2>
    <h2>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sink" [routerLink]="['/sink', business.id ,'new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="alchemyApp.sink.home.createLabel">
            Create new Sink
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="sinks">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="alchemyApp.sink.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="businessId"><span jhiTranslate="alchemyApp.sink.business">Business</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="type"><span jhiTranslate="alchemyApp.sink.type">Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="remark"><span jhiTranslate="alchemyApp.sink.remark">Remark</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdBy"><span jhiTranslate="alchemyApp.sink.createdBy">Created By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdDate"><span jhiTranslate="alchemyApp.sink.createdDate">Created Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lastModifiedBy"><span jhiTranslate="alchemyApp.sink.lastModifiedBy">Last Modified By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lastModifiedDate"><span jhiTranslate="alchemyApp.sink.lastModifiedDate">Last Modified Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sink of sinks ;trackBy: trackId">
                <td><a [routerLink]="['/sink', sink.id, 'view' ]">{{sink.id}}</a></td>
                <td>{{sink.name}}</td>
                <td>
                    <div *ngIf="sink.businessId">
                        <a [routerLink]="['../business', sink.businessId , 'view' ]" >{{sink.businessId}}</a>
                    </div>
                </td>
                <td jhiTranslate="{{'alchemyApp.SinkType.' + sink.type}}">{{sink.type}}</td>
                <td>{{sink.remark}}</td>
                <td>{{sink.createdBy}}</td>
                <td>{{sink.createdDate | date:'medium'}}</td>
                <td>{{sink.lastModifiedBy}}</td>
                <td>{{sink.lastModifiedDate | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/sink', sink.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sink', sink.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'sink', { outlets: { popup: sink.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="sinks && sinks.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
