<div>
    <h2 id="page-heading">
        <span jhiTranslate="alchemyApp.source.home.title">Sources</span>

    </h2>
    <h2>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-source" [routerLink]="['/source', business.id , 'new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="alchemyApp.source.home.createLabel">
            Create new Source
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="sources">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="alchemyApp.source.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="businessId"><span jhiTranslate="alchemyApp.source.business">Business</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tableType"><span jhiTranslate="alchemyApp.source.tableType">Table Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sourceType"><span jhiTranslate="alchemyApp.source.sourceType">Source Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="remark"><span jhiTranslate="alchemyApp.source.remark">Remark</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdBy"><span jhiTranslate="alchemyApp.source.createdBy">Created By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdDate"><span jhiTranslate="alchemyApp.source.createdDate">Created Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lastModifiedBy"><span jhiTranslate="alchemyApp.source.lastModifiedBy">Last Modified By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lastModifiedDate"><span jhiTranslate="alchemyApp.source.lastModifiedDate">Last Modified Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let source of sources ;trackBy: trackId">
                <td><a [routerLink]="['/source', source.id, 'view' ]">{{source.id}}</a></td>
                <td>{{source.name}}</td>
                <td>
                    <div *ngIf="source.businessId">
                        <a [routerLink]="['../business', source.businessId , 'view' ]" >{{source.businessId}}</a>
                    </div>
                </td>
                <td jhiTranslate="{{'alchemyApp.TableType.' + source.tableType}}">{{source.tableType}}</td>
                <td jhiTranslate="{{'alchemyApp.SourceType.' + source.sourceType}}">{{source.sourceType}}</td>
                <td>{{source.remark}}</td>
                <td>{{source.createdBy}}</td>
                <td>{{source.createdDate | date:'medium'}}</td>
                <td>{{source.lastModifiedBy}}</td>
                <td>{{source.lastModifiedDate | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/source', source.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/source', source.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'source', { outlets: { popup: source.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="sources && sources.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
