<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-job-heading" jhiTranslate="alchemyApp.job.home.createOrEditLabel">Create or edit a Job</h2>
            <jhi-alert-error></jhi-alert-error>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" [hidden]="!job.id">
                        <label for="id" jhiTranslate="global.field.id">ID</label>
                        <input type="text" class="form-control" id="id" name="id" formControlName="id"
                            readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="alchemyApp.job.name" for="field_name">Name</label>
                        <input type="text" class="form-control" name="name" id="field_name"
                               formControlName="name"/>
                        <div *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                            <small class="form-text text-danger"
                                   *ngIf="editForm.get('name').errors.required" jhiTranslate="entity.validation.required">
                            This field is required.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="alchemyApp.job.type" for="field_type">Type</label>
                        <select class="form-control" name="type" formControlName="type" id="field_type">
                            <option value="JAR">{{'alchemyApp.JobType.JAR' | translate}}</option>
                            <option value="SQL">{{'alchemyApp.JobType.SQL' | translate}}</option>
                        </select>
                        <div *ngIf="editForm.get('type').invalid && (editForm.get('type').dirty || editForm.get('type').touched)">
                            <small class="form-text text-danger"
                                   *ngIf="editForm.get('type').errors.required" jhiTranslate="entity.validation.required">
                            This field is required.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="alchemyApp.job.remark" for="field_remark">Remark</label>
                        <input type="text" class="form-control" name="remark" id="field_remark"
                               formControlName="remark"/>
                        <div *ngIf="editForm.get('remark').invalid && (editForm.get('remark').dirty || editForm.get('remark').touched)">
                            <small class="form-text text-danger"
                                   *ngIf="editForm.get('remark').errors.required" jhiTranslate="entity.validation.required">
                            This field is required.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="alchemyApp.job.cluster" for="field_cluster">Cluster</label>
                        <select class="form-control" id="field_cluster" name="cluster" formControlName="clusterId">
                            <option [ngValue]="null"></option>
                            <option [ngValue]="clusterOption.id" *ngFor="let clusterOption of clusters; trackBy: trackClusterById">{{clusterOption.name}}</option>
                        </select>
                    </div>
                  </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="alchemyApp.job.config" for="field_config">Config</label>
                        <codemirror formControlName="config" [config]="yamlConfig" id="field_config"></codemirror>
                        <div *ngIf="editForm.get('config').invalid && (editForm.get('config').dirty || editForm.get('config').touched)">
                            <small class="form-text text-danger"
                                   *ngIf="editForm.get('config').errors.required" jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <div class="col-md-2"></div>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
                <div class="col-md-3"></div>
            </div>
        </form>
    </div>
</div>
