<form name="savepointForm" (ngSubmit)="confirmSavepoint(job.id)" role="form" novalidate [formGroup]="savepointForm">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="entity.savepoint.title">Confirm savepoint operation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="alchemyApp.job.cancel.savepoint" for="field_name">Savepoint</label>
            <input type="text" class="form-control" name="name" id="field_name"
                   formControlName="savepointDirectory" />
            <div *ngIf="savepointForm.get('savepointDirectory').invalid && (savepointForm.get('savepointDirectory').dirty || savepointForm.get('savepointDirectory').touched)">
                <small class="form-text text-danger"
                       *ngIf="savepointForm.get('savepointDirectory').errors.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button id="jhi-confirm-cancel-job" type="cancel" class="btn btn-danger">
            <fa-icon [icon]="'times'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.ok">OK</span>
        </button>
    </div>
</form>
